<footer class="footer">
  <div class="footer-inner">

    <!-- Left column (brand + copyright) -->
    <div class="col left">
      <div class="footer-brand">ItechJump</div>
      <div class="copyright">
        ©<span class="year">2025</span> ItechJump.com
      </div>
    </div>

    <!-- Middle column (tagline) -->
    <div class="col middle">
      <p class="tagline">
        Practice smart. Interview strong.
      </p>
    </div>

    <!-- Right column (logos) -->
    <div class="col right">
        <img class="tech-logo angular"
            src="assets/img/Angular-logosm.png"
            alt="Angular"
            title="Built with Angular" />

        <img class="tech-logo vite"
            src="assets/img/icons8-vite-48.png"
            alt="Vite"
            title="Built with Vite" />

        <img class="tech-logo html"
            src="assets/img/icons8-html.png"
            alt="HTML"
            title="Built with HTML" />
    </div>
    <!-- Middle column (tagline) -->
    <div class="col middle">
      <p class="tagline">
        Version {{ appVersion}}
      </p>
    </div>
  </div>
</footer>
